.cart {
    display: flex;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 30%;
}

.cart__empty {
    padding: 0 30px;
}
.cart__total {
    display: inline-block;
    text-align: right;
    padding: 5px 0;
}